<!-- WIP -->

<!DOCTYPE html>
<html>
<head>
<title>Canvas with Horizontal Lines</title>
<script src="https://cdn.socket.io/4.5.4/socket.io.js"></script>
<style>
body {
  background-color: #f0f0f0;
}

canvas {
  border: 1px solid #ccc;
}

button {
  position: absolute;
  left: 120px;
}

#btn1 {
  top: 80px;
}

#btn2 {
  top: 280px;
}

</style>
</head>
<body>

<canvas id="myCanvas" width="800" height="400"></canvas>

<button id="btn1" onclick="drawCentral()">Cental line</button>
<button id="btn2" onclick="drawOther()">Other Line</button>

<script>
var socket = io();


var canvas = document.getElementById("myCanvas");
var ctx = canvas.getContext("2d");

lineStates = [1,1]
cols = ["black","greenyellow"]



function drawCentral(){

   //toggle state and change bool to int
    lineStates[0] = !lineStates[0] ? 1 : 0;
    ctx.strokeStyle = cols[lineStates[0]];
    ctx.beginPath();
    ctx.moveTo(100, 100);   
    ctx.lineTo(700, 100);    
    ctx.stroke();
    socket.emit('button_pressed', 1);
}

function drawOther(){
    //toggle state and change bool to int
    lineStates[1] = !lineStates[1] ? 1 : 0;   
    ctx.strokeStyle = cols[lineStates[1]];
    ctx.beginPath();
    ctx.moveTo(100, 300);   
    ctx.lineTo(700, 300);    
    ctx.stroke();
    socket.emit('button_pressed', 2);
}


//draw lines
drawCentral()
drawOther()





</script>

</body>
</html>